<div class="grid grid-cols-1 gap-4">
  <div>
    <%= @note.content %>
  </div>

  <div>
    <%= form_with model: @note do |form| %>
      <%= form.rich_textarea :content %>
      <%= form.submit 'Save', class: 'rounded-md bg-blue-600 px-3 py-2 mt-4 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600' %>
    <% end %>
  </div>
</div>
